.header {
    background: linear-gradient(104.38deg, #826F66 2.73%, #3A3845 99.12%);
    border-radius: 15px;
    padding: 25px 20px;
    box-sizing: border-box;
    color: white;
    margin-top: 1rem;
}

.header p {
    font-size: var(--action-size);
}

.header h3 {
    font-size: var(--body-size);
    padding: 10px 0 30px 0;
    box-sizing: border-box;
    font-weight: 600;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 1rem 0;
}

.input input {
    background-color: var(--secondary-color);
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: var(--body-size);
}

.input button {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:  ease-in .3s;
}

.input button:hover {
    transform: scale(0.95);
    background-color: var(--dark-color);
}

.input img {
    width: 20px;
}

.main {
    padding: 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}